name: Data Processing Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  preprocess-data:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        
      - name: Set up python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12.7'
          
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas numpy scikit-learn
          
      - name: Run Preprocessing Script
        run: |
          python automate_Kevin-Bramasta.py
          
      - name: Commit and Push Changes
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"

          git add telco_preprocessing/telco_churn_clean.csv

          if git diff --staged --quiet; then
            echo "No changes to commit."
          else
            git commit -m "Auto-update: Preprocessed Dataset [skip ci]"
            git push
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}